---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
   name: redis-pvc
   namespace: unir
spec:
   accessModes:
      - ReadWriteOnce
   storageClassName: managed-csi
   resources:
      requests:
         storage: 1Gi
---
apiVersion: apps/v1
kind: Deployment
metadata:
   name: backend
   namespace: unir
spec:
   replicas: 1
   selector:
      matchLabels:
         app: backend
   template:
      metadata:
         labels:
            app: backend
      spec:
         securityContext:
            fsGroup: 999
         containers:
            - name: backend
              image: {{ acr_name }}.azurecr.io/redis:casopractico2
              args: ["--appendonly", "yes"]
              env:
                 - name: ALLOW_EMPTY_PASSWORD
                   value: "yes"
              ports:
                 - containerPort: 6379
                   name: redis
              volumeMounts:
                 - name: redis-data
                   mountPath: /data
         volumes:
            - name: redis-data
              persistentVolumeClaim:
                 claimName: redis-pvc
---
apiVersion: v1
kind: Service
metadata:
   name: backend
   namespace: unir
spec:
   ports:
      - port: 6379
   selector:
      app: backend
---
apiVersion: apps/v1
kind: Deployment
metadata:
   name: frontend
   namespace: unir
spec:
   replicas: 1
   selector:
      matchLabels:
         app: frontend
   template:
      metadata:
         labels:
            app: frontend
      spec:
         nodeSelector:
            kubernetes.io/os: linux
         containers:
         - name: frontend
           image: {{ acr_name }}.azurecr.io/azure-vote-front:casopractico2
           resources:
              requests:
                 cpu: "100m"
                 memory: "128Mi"
              limits:
                 cpu: "250m"
                 memory: "256Mi"
           ports:
              - containerPort: 80
           env:
              - name: REDIS
                value: "backend"
---
apiVersion: v1
kind: Service
metadata:
   name: frontend
   namespace: unir
spec:
   type: LoadBalancer
   ports:
      - port: 80
   selector:
      app: frontend
